// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: "Nunito", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//unique colors
$rich_black: #020202;

//unique colors dark
$tyrian_purple: #420039;
$brass: #b68f40;
$cadet_grey: #93a3b1;
$platinum: #dee5e5;

//unique colors bright
$awesome: #ff206e;
$lemon_glacier: #fbff12;
$ash_grey: #b3b5bb;
$eggshell: #f2e5d7;
