// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
// on landscape, make text bigger, maybe try picture on the side of the text
// on vertical, try different images either equal wXh or wider than height, or smaller than full screen
//organize
body {
    background-color: $rich_black;
    color: $platinum;
    margin: 0px;
    text-decoration: none;
    -webkit-appearance: none;
    word-spacing: normal;
    padding: 0px;
    font-family: "Cormorant SC", serif;
}
a {
    // transition speed on hover
    -o-transition: $fade_speed ease-out, background $fade_speed ease-in;
    -ms-transition: $fade_speed ease-out, background $fade_speed ease-in;
    -moz-transition: $fade_speed ease-out, background $fade_speed ease-in;
    -webkit-transition: $fade_speed ease-out, background $fade_speed ease-in;
    transition: $fade_speed ease-out, background $fade_speed ease-in;
}
a:-webkit-any-link,
a:link,
a:visited {
    padding: 5px;
    color: $cadet_grey;
    cursor: pointer;
    text-decoration: none;
    word-wrap: normal;
    display: inline-block;
}
a:hover,
a:active,
a.active {
    color: $brass;
}
img {
    width: 100%;
    height: auto;
}
#artist_row {
    height: 100%;
    width: 100%;
}
#artist_list {
    height: calc(100vh - 345px);
    overflow-y: scroll;
    width: 100%;
}
#to_center {
    position: relative;
    text-align: center;
}

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// #social_link {}
// #artist_row {}
