//style guide

//unique colors
$rich_black: #020202;

//unique colors dark
$tyrian_purple: #420039;
$brass: #b68f40;
$cadet_grey: #93a3b1;
$platinum: #dee5e5;

//extra colors
$dark_scarlet: #5c0029;
$anti_flash_white: #eef0f2;
$isabelline: #f6f7eb;
$caput_mortuum: #561d25;
$gunmetal: #2d3142;
$japanese_indigo: #2a3d45;
$deep_taupe: #7a6c5d;

//unique colors bright
$awesome: #ff206e;
$lemon_glacier: #fbff12;
$ash_grey: #b3b5bb;
$eggshell: #f2e5d7;


//Fonts

//Serif Font
//Lovelyn
//https://creativemarket.com/craftsupplyco/2417316-Lovelyn-Font?u=craftsupplyco&utm_term=SAC&utm_source=Link&utm_medium=CM+Social+Share&utm_campaign=Product+Social+Share&utm_content=Lovelyn+Font+~+Serif+Fonts+~+Creative+Market


//Sans Serif Font
//
//