body {
  background-color: #020202;
  color: #dee5e5;
  margin: 0px;
  text-decoration: none;
  -webkit-appearance: none;
  word-spacing: normal;
  padding: 0px;
  font-family: "Cormorant SC", serif;
}

a:-webkit-any-link,
a:link,
a:visited {
  padding: 5px;
  color: #93a3b1;
  cursor: pointer;
  text-decoration: none;
  word-wrap: normal;
  display: inline-block;
}

a:hover,
a:active,
a.active {
  color: #b68f40;
}

img {
  width: 100%;
  height: auto;
}

#artist_row {
  height: 100%;
  width: 100%;
}

#artist_list {
  height: calc(100vh - 345px);
  overflow-y: scroll;
  width: 100%;
}

#to_center {
  position: relative;
  text-align: center;
}

#centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

