body {
  margin: 0;
  padding: 0;
  background-color: #020202;
  font-family: "Cormorant SC", serif;
  color: #dee5e5;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  word-spacing: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  transition: 0.2s ease-out, background 0.2s ease-in;
}

a:-webkit-any-link,
a:link,
a:visited {
  color: #93a3b1;
  cursor: pointer;
  text-decoration: none;
  -moz-text-decoration: none;
  word-wrap: normal;
}

a:hover,
a:active,
a.active {
  color: #b68f40;
}

header {
  background: #420039;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  margin: 0;
  padding: 5px;
}

#brand {
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

#brand a:link,
#brand a:visited,
#nav-li a:link,
#nav-li a:visited {
  color: #dee5e5;
}

#brand a:active,
#brand a:hover,
#nav-li a:active,
#nav-li a:hover {
  color: #b68f40;
}

.nav-toggle {
  display: none;
  margin-left: 1em;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

#q-span {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 115px;
  font-size: 30px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #420039;
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  -moz-transition: transform 400ms ease-in-out;
  /* Firefox 4 */
  -webkit-transition: transform 400ms ease-in-out;
  /* Safari and Chrome */
  -o-transition: transform 400ms ease-in-out;
  /* Opera */
  -ms-transition: transform 400ms ease-in-out;
  /* Explorer 10 */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  /* Firefox 4 */
  -webkit-transition: opacity 250ms ease-in-out;
  /* Safari and Chrome */
  -o-transition: opacity 250ms ease-in-out;
  /* Opera */
  -ms-transition: opacity 250ms ease-in-out;
  /* Explorer 10 */
}

.nav-toggle:checked ~ label span {
  color: #b68f40;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
  -moz-transition: opacity 250ms ease-in-out 250ms;
  /* Firefox 4 */
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  /* Safari and Chrome */
  -o-transition: opacity 250ms ease-in-out 250ms;
  /* Opera */
  -ms-transition: opacity 250ms ease-in-out 250ms;
  /* Explorer 10 */
}

#main_page_first {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

#main_background {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  justify-items: center;
  color: #7a6c5d;
  background: url("/img/mainpage.jpg") no-repeat;
  background-size: 100%;
}

#main_background a:link,
#main_background a:visited,
#main_background a:active {
  color: #7a6c5d;
}

#main_background a:hover {
  color: #b68f40;
}

#main_page_header1,
#main_page_about {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-items: center;
  text-align: center;
  margin-top: 150px;
}

#main_page_header3,
#releases_page_header1,
#artists_page_title,
#cycle_page_header1 {
  margin: 0;
}

img {
  width: 100%;
}

#artist_row {
  height: 100%;
  width: 100%;
}

#artist_list {
  overflow-y: scroll;
  width: 100%;
}

#coming_soon {
  margin: 0;
}

